
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}


html {
  font-size: 14px;
}

/* Estilos específicos para dispositivos pequeños */
@media only screen and (max-width: 600px) {
  header {
    padding: 15px;
  }
  .nav_links li {
    padding: 0 10px;
  }
  .nav_btn button {
    padding: 8px 20px;
  }
  #about .about {
    left: 5%;
    right: 5%;
  }
  .img_about img {
    width: 200px;
    top: 20%;
  }
  .education {
    padding: 2% 5%;
    margin-top: 20%;
  }
  .col1,
  .col3 {
    flex: 100%;
    margin: 10px 0;
  }
  .col2 {
    display: none;
  }
  .contact,
  .skill {
    padding: 2% 5% 10%;
  }
  #contact .row {
    flex-direction: column;
  }
  #contact .col {
    width: 100%;
    height: auto;
  }
}

/* Estilos específicos para dispositivos medianos */
@media only screen and (min-width: 601px) and (max-width: 980px) {
  header {
    padding: 18px 5%;
  }
  .nav_links li {
    padding: 0 15px;
  }
  .nav_btn button {
    padding: 8px 20px;
  }
}

/* Estilos específicos para dispositivos grandes */
@media only screen and (min-width: 981px) {
  header {
    padding: 20px 8%;
  }
  .nav_links li {
    padding: 0 20px;
  }
}


resolution {
  display: none;
}

body {
  background-color: #fff;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  /* color: ; */
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  transition: 1s;
  z-index: 50;
  background-color: #fff;
}

header.sticky {
  padding: 19px 5%;
  background-color: #fff;
  box-shadow: 1px 1px 15px -3px rgba(39, 39, 39, 0.5);
}

header .logo a {
  position: relative;
  font-weight: 700;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.nav_links {
  list-style: none;
  position: relative;
  display: flex;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

.nav_links li a {
  transform: all 0.3s ease 0s;
  position: relative;
  letter-spacing: 1px;
  transition: 0.1s;
  text-transform: uppercase;
  color: black;
}

.nav_links li a:hover {
  color:#630116;
  cursor: e-resize;
}


.nav_btn button {
  padding: 9px 25px;
  border-radius: 50px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
  color: #630116;
  border: 1px solid  #630116;
  transition: 0.1s;
  background-color: #fff;
}

.nav_btn button:hover {
  background-color:  #630116;
  color: #fff;
  transition: 0.2s;
}

#about {
  width: 100%;
  height: 95vh;
  position: relative;
  /* margin-bottom: 7rem; */
}

.about {
  position: absolute;
  left: 8%;
  right: 8%;
  transform: translate(5%, 43%);
  margin-bottom: -10rem;
}

#about h1 {
  font-size: 40px;
  color: #1e293b;
  margin: 0.5rem 0 1rem 0;
}

#about h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #630116;
}

#about p {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.about_btn button {
  padding: 9px 25px;
  border-radius: 50px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
  border: 1px solid  #630116;
  color: #fff;
  transition: 0.4s;
  background-color:  #630116;
  display: inline-block;
}

.about_btn button:hover {
  background-color:  #630116;
  color: #fff;
  transform: scale(1.1);
  transition: 0.4s;
}

.img_about img {
  width: 250px;
  height: auto;
  position: absolute;
  left: 80%;
  top: 27%;
  transform: translateX(-80%);
  border-radius: 3px;
  border-radius: 15px;
}

.about .about-icons {
  padding: 12px 0;
  display: flex;
  justify-content: start;
  z-index: 99;
  position: relative;
  text-align: start;
  margin-left: -10px;
}

.about .about-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.about .about-icons a i:hover{
  color: #630116;
}



.about .about-icons i {
  font-size: 32px;
  color: #6b7280;
  cursor: pointer;
}

.about .about-icons i:hover {
  color: #630116;
  transition: 0.1s;
}

.education {
  /* height: 80vh; */
  padding: 2% 10% 2%;
  margin: 10% 0;
  background-color:  #630116;
}

.education span {
  font-weight: bold;
}

#about .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(-5%);
  height: 150px;
}

#education .wave {
  position: absolute;
  transform: translateX(-10%);
  width: 100%;
  bottom: 100;
}

.edu-title {
  margin: 30px 50px;
  text-align: center;
  color: #fff;
}

.edu-title h1 {
  font-size: 40px;
  margin-top: 3.5rem;
}

#education .row {
  margin: 30px;
  padding: 5rem 20px 0;
  display: flex;
}

.education h2 {
  color: #475569;
}

.date-edu {
  padding: 8px 0;
  font-size: 16px;
  color: #94a3b8;
}

.edu-title p {
  font-size: 20px;
}

.desc-edu {
  color: #475569;
}

.col1 {
  flex: 47%;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 20px;
  margin: 10px;
  margin-bottom: 10rem;
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}

.col1:hover {
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.6);
}

.col2 {
  flex: 6%;
}

.col2 ul {
  list-style: none;
}

.col2 ul > li {
  position: relative;
}

.col2 ul > li:before {
  content: "\25CF";
  margin-right: 10px;
  font-size: 80px;
  color: #ffffff;
  z-index: 1;
  position: inherit;
}

.col2 ul > li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-left: 6px solid rgb(255, 255, 255);
  margin-left: 34%;
  margin-top: -2.5rem;
  height: 13rem;
}

.col2 ul > li:first-of-type:after {
  top: 50%;
}

.col2 ul > li:last-of-type:after {
  top: -50%;
}

.col3 {
  flex: 47%;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.3);
  margin: 10px;
  margin-top: 10rem;
  transition: 0.2s;
}

.col3:hover {
  transform: scale(1.03);
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}

.skill {
  /* height: 80vh; */
  padding: 2% 10% 10%;
  margin: 10% 0 0;
  background-color: #fff;
}

.skill span {
  color:  #630116;
  font-weight: bold;
}

.skill-title {
  color: #1e293b;
  text-align: center;
}

.skill-title h1 {
  font-size: 40px;
  margin-top: 3.5rem;
}

.skill-title p {
  font-size: 20px;
}

.flex-wrapper {
  margin: 8rem 0 0;
}

.flex-grid {
  display: flex;
  justify-content: center;
  text-align: center;
}

.items img {
  height: 4.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.items p {
  color: #717d8d;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -5px;
}

.items .medium {
  background-color: #fef3c7;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
  color: #de8821;
  text-transform: uppercase;
}

.items .basic {
  background-color: #e0f2fe;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
  color:  #016316;
  text-transform: uppercase;
}

/* Test Flex Grid */
@media (min-width: 980px) {
 

  .flex-grid {
    margin-top: 2rem;
  }
  .flex-grid:first-child {
    margin-top: 0;
  }

  /* d for desktop */
  .d-col-1 {
    width: 7.05%;
    margin: 0 2rem;
  }
  .d-col-4 {
    width: 32.4%;
  }
  .d-col-12 {
    width: 100%;
  }
}

.contact {
  /* height: 80vh; */
  padding: 1% 6% 0%;
  background-color: #fff;
}

.contact span {
  color:  #630116;
  font-weight: bold;
}

.contact-title {
  color: #1e293b;
  text-align: center;
}

.contact-title h1 {
  font-size: 40px;
  margin-top: .2rem;
}

.contact-title p {
  font-size: 20px;
}

#contact .row {
  margin: 45px;
  padding: 0 2% 1rem;
  display: flex;
}

#contact .col {
  float: left;
  padding: 10px;
  margin: 10px;
  height: 450px;
}

#contact .left {
  width: 23%;
}

#contact .right {
  width: 50%;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 30px;
}

#contact img {
  width: 400px;
  display: block;
  margin: 10% auto;
}

input[type="text"],
[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #828282;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 6px 0 15px 0;
}

input[type="submit"] {
  background-color:  #630116;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: 0.1s;
}

input[type="submit"]:hover {
  background-color:  #630116;
  transition: 0.2s;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:active {
  transform: scale(1.1);
  transition: 0.1s;
}

.btn-form {
  text-align: center;
  margin-top: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  background-color:  #630116;
  margin-top: 5rem;
}

footer .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
  transform: translateY(-10%);
}

.foot-content p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  z-index: 1;
  position: relative;
  line-height: 25px;
}

.foot-content p:nth-child(2) {
  position: relative;
  line-height: 25px;
  font-size: 18px;
  color: #fff;
  z-index: 1;
  margin-top: 5px;
}

.social-icons {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  text-align: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.social-icons i {
  font-size: 30px;
  color:  #630116;
  transition: 0.1s;
}

.social-icons i:hover {
  color:  #630116;
}

.social-icons a:hover {
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.createby p:nth-child(1) {
  font-size: 15px;
  color: #ffffff;

  font-weight: unset;
}

.createby p:nth-child(2) {
  font-size: 15px;
  margin: -5px 0 10px;
  font-weight: unset;
  color: #ffffff;
}

#scrool-up.srcl i {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  background-color: #7a7c806e;
  transition: 0.2s;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  z-index: 99;
  cursor: pointer;
}





